
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-style a{
  padding-left: 20px;
  text-decoration: none;
}
img{
  padding: 10px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

img:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

h3 {
  background-color: #743a28;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

h3:hover {opacity: 1}
span{
  
    background-color: #f4511e;
    border: none;
    color: white;
    text-align: center;
    border-radius: 17px;
    font-size: 14px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  
}
span:hover {opacity: 1}